__pycache__/
*.pyc
*.pyo
*.log
*.csv
*.json
/tmp/*.pid
init_generator.py
.DS_Store
venv/
reports/
node_modules/
config/*.ini
make_release.sh
LokaliseTool.bat
LokaliseTool.command
lokalise_translation_manager/lokalise_files
